/* Formulários e Inputs */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}
.form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 13px;
  color: var(--text-color);
  font-weight: 600;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fdfdfd;
  font-size: 15px;
  transition: border-color 0.2s;
}
.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

/* Ajustes de Input no Dark Mode */
.form-group input,
.form-group textarea {
  background-color: var(--input-bg);
  color: var(--text-color);
  border-color: var(--border-color);
}

/* Estilo do Dropdown de Filtro (Tela de Relatório) */
.form-select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--card-bg);
  color: var(--text-color);
  font-size: 14px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

.form-select:focus {
  border-color: var(--primary-color);
}
